:root {
  --popper-theme-background-color: #e21a22;
  --popper-theme-background-color-hover: #e21a22;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-radius: 4px;
  --popper-theme-padding: 10px;
}
